<div class="container container--flex">
  <div class="content--left col-lg-3">
    <div class="title">
      <h2>Welcome to Geekatz!</h2>
    </div>
    <form novalidate (ngSubmit)="onSubmit(register)" [formGroup]="register">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" formControlName="email">

          <!-- Error messages -->
          <div class="error-msg" *ngIf="register.get('email').hasError('required') && register.get('email').touched">
            Email is required!
          </div>
          <div class="error-msg" *ngIf="register.get('email').hasError('pattern') && register.get('email').touched">
            Must be an Email!
          </div>
        </div>
        <div formGroupName="passwords">
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" formControlName="password">

            <!-- Error messages -->
            <div class="error-msg" *ngIf="register.get('passwords').get('password').hasError('required') && register.get('passwords').get('password').touched">
              Password is required!
            </div>
            <div class="error-msg" *ngIf="register.get('passwords').get('password').hasError('minlength') && register.get('passwords').get('password').touched">
              Password too short! Min is 6
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirm">Confirm Password</label>
            <input class="form-control" type="password" name="password_confirm" formControlName="password_confirmation">

            <!-- Error messages -->
            <div class="error-msg" *ngIf="register.get('passwords').get('password_confirmation').hasError('required') && register.get('passwords').get('password_confirmation').touched">
              Must confirm password!
            </div>
            <div class="error-msg" *ngIf="register.get('passwords').hasError('mismatch') && register.get('passwords').get('password_confirmation').touched">
              Passwords dont match!
            </div>
          </div>
        </div>
      <button type="submit" [disabled]="register.invalid" class="btn btn-second btn-center">Register</button>
    </form>
  </div>
  <div class="register__img--container">
    <img class="img img-responsive register__img--content"src="assets/images/register.jpg" alt="register">
  </div>
</div>
