<div class="">
  <nav class="">
    <div class="flex-parent">
      <div class="flex-child">
        <a class="menu-item" href="">Home</a>
      </div>
      <div class="flex-child">
        <a class="menu-item" href="">Top</a>
      </div>
      <div class="flex-child">
        <a class="menu-item" href="">Random</a>
      </div>
      <div class="flex-last">
        <div class="flex_last--child">
          <a class="menu-item" href="">Logout</a>
        </div>
      </div>
    </div>
    <!-- <ul class="navbar row">
      <li class="navbar__item navbar__item-inside col-xs-2">
        <a class="navbar__item-inside" href="default.asp">Home</a>
      </li>
      <li class="navbar__item navbar__item-inside col-xs-2">
        <a class="navbar__item-inside" href="news.asp">Top</a>
      </li>
      <li class="navbar__item navbar__item-inside col-xs-2">
        <a class="navbar__item-inside" href="contact.asp">Random</a>
      </li>
      <li class="navbar__item navbar__item-inside btn-second navbar__item-round col-xs-offset-4 col-xs-2">
        <a class=" navbar__item-inside" href="" (click)="closeSession($event)">Log Meow-t</a>
      </li>
    </ul> -->
  </nav>
</div>

<!-- Make this nav horizontal or smth -->
<div class="visible-xs">
  <nav class="">
    <!-- <ul class="navbar row">
      <li class="navbar__item navbar__item-inside col-xs-2">
        <a class="navbar__item-inside" href="default.asp">Home</a>
      </li>
      <li class="navbar__item navbar__item-inside col-xs-2">
        <a class="navbar__item-inside" href="news.asp">Top</a>
      </li>
      <li class="navbar__item navbar__item-inside col-xs-2">
        <a class="navbar__item-inside" href="contact.asp">Random</a>
      </li>
      <li class="navbar__item navbar__item-inside btn-second navbar__item-round col-xs-offset-4 col-xs-2">
        <a class=" navbar__item-inside" href="" (click)="closeSession($event)">Log Meow-t</a>
      </li>
    </ul> -->
  </nav>
</div>
