<div class="">
  <nav class="">
    <ul class="navbar row">
      <li class="navbar__item navbar__item-inside col-xs-2"><a class="navbar__item-inside" href="default.asp">Home</a></li>
      <li class="navbar__item navbar__item-inside col-xs-2"><a class="navbar__item-inside" href="news.asp">Top</a></li>
      <li class="navbar__item navbar__item-inside col-xs-2"><a class="navbar__item-inside" href="contact.asp">Random</a></li>
      <li class="navbar__item navbar__item-inside btn-second navbar__item-round col-xs-offset-4 col-xs-2"><a class=" navbar__item-inside" href="" (click)="closeSession($event)">Log Meow-t</a></li>
    </ul>
  </nav>
</div>
