@import '../../../../styles.scss';

nav {
  background-color: #f1f1f1;
}

.navbar {
  font-size: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $c-primary;
    display: flex;
    align-items: center;
}

.navbar__item {
    float: left;
}

.navbar__item-inside {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar__item-inside:hover {
    background-color: $c-third;
    color: $c-primary;
}

.navbar__item-round {
  border-radius: 20px;
}
