$c-primary: #6B7A8F;
$c-second: #F7882F;
$c-third: #F7C331;
$c-fourth: #DCC7AA;

nav {
  background-color: #f1f1f1;
  height: 70px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $c-primary;
}

.navbar__item {
    float: left;
}

.navbar__item-inside {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar__item-inside:hover {
    background-color: $c-third;
    color: $c-primary;
}

.navbar__item-round {
  border-radius: 200px;
}
